<header class="bg-black shadow text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
      <h1 class="text-2xl font-bold">
        <a href="/"><img src="/img/logo-aw-s.png" alt="Logo" class="h-20"></a>
      </h1>
      <nav>
        <ul class="flex space-x-6">
          <li><a href="/" class="hover:text-yellow-400 transition">Início</a></li>
          <li><a href="/sobre" class="hover:text-yellow-400 transition">Sobre</a></li>
          <li><a href="/projetos" class="hover:text-yellow-400 transition">Projetos</a></li>
          <li><a href="/contato" class="hover:text-yellow-400 transition">Contato</a></li>
        </ul>
      </nav>
    </div>
  </header>
  