<header class="bg-[#0e0e10] shadow-md border-b border-[#1f1f23] text-gray-300">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4 flex justify-between items-center">
      
      <a href="/">
        <img src="/img/new-logo.png" alt="Logo" class="h-16 md:h-20 hover:scale-105 transition-transform duration-300">
      </a>
  
      <nav>
        <ul class="flex space-x-6 text-base">
          <li><a href="/" class="hover:text-purple-500 transition-colors duration-300">Início</a></li>
          <li><a href="/sobre" class="hover:text-purple-500 transition-colors duration-300">Sobre</a></li>
          <li><a href="/curriculo" class="hover:text-purple-500 transition-colors duration-300">Currículo</a></li>
          <li><a href="/projetos" class="hover:text-purple-500 transition-colors duration-300">Projetos</a></li>
          <li><a href="/contato" class="hover:text-purple-500 transition-colors duration-300">Contato</a></li>
        </ul>
      </nav>
  
    </div>
  </header>
  